/*  ELEMENT STYLING */
body {
  height: 100dvh;
  background-image: url("../media/Blue-Castle-Sky-Wallpaper.png");
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Parkinsans", sans-serif;
}

button {
  padding: 5px 10px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid #03283f;
  background-color: #03283f;
  color: #FFFFFF;  
  transition: all 200ms ease-in-out;
  font-family: "Parkinsans", sans-serif;
  font-size: 12px;
}

button:hover {
  background-color: #FFFFFF;
  color: #03283f;
  cursor: pointer;
  scale: 1.05;
}

h2 {
  margin-top: 30px;
  border-bottom: 1.5px solid #03283f;
}

footer {
  text-align: center;
  margin-top: auto;
  font-size: 12px;
}

a {
  color: #6f7173;
}

hr {
  border: 0.5px solid #c3cfe2;
  width: 500px;
}

/* CLASS STYLING */
.popup-image-container {
  text-align: center;
  margin: -50px auto -40px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.903);
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 1px -1px 13px 3px rgba(44, 44, 44, 0.461);
}

.logo-container {
  display: flex;
  gap: 10px;
}

.aeris-logo {
  width: 40px;
}

.logo-text {
  font-family: "Parkinsans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  padding-top: 5px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting-container {
  text-align: center;
  line-height: 5px;
  margin: 20px 0 0;
}

.current-time-date-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -15px;
}

.current-weather-container {
  display: flex;
  justify-content: center;
  padding: 0 45px;
  align-items: center;
}

.current-weather {
  width: 220px;
}

.right-container {
  display: flex;
  justify-content: flex-end;
  width: 240px;
}

.weather-details > p {
  margin: 0;
  font-size: 14px;
}

.current-weather-detail {
  color: rgb(24, 114, 217);
}

.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  color: #03283f;
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.unit:hover {
  color: #FFFFFF;
  border: 1px solid #03283f;
  background-color: #03283f;
}

.current-weather-icon-container {
  display: flex;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, #b5e1f5e2 35%, #c4e3f0e4 55%,  #d9e6efdb 65%, #eaf1f3d0 85%);
  padding: 70px 50px;
  border: 5px double #08577f;
  border-radius: 200px 200px 10px 10px;
  box-shadow: 0px 15px 15px #05334b80;
  color: #03283f;
  font-weight: 700;
  height: 360px;
}

.form-question {
  margin-bottom: -10px;
}

.form-input {
  border: none;
  border-bottom: 1px solid rgb(9, 100, 169);
  margin-bottom: 10px;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}

.form-input:hover {
  scale: 1.05;
}

/* ID STYLING */
#search-box {
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #464646;
  transition: all 200ms ease-in-out;
}

#search-box:hover {
  background-color: #e5ebf0;
}

#current-temp {
  font-size: 70px;
  font-weight: 700;
  padding: 0 5px;
}

#imperial {
  border-bottom: 1px solid#03283f;
}

#current-weather-icon {
  width: 140px;
  transition: all 300ms ease-in-out;
}

#current-weather-icon:hover {
  scale: 1.2;
}


#popup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#popup-image {
    width: 120px;
}